---
import Layout from "../layouts/Layout.astro";
import MainCard from "../components/MainCard.astro";
import { Code } from "astro:components";
import Image from "../components/CardImage.astro";
import ServiceCard from "../components/ServiceCard.astro";

import yuanai from "../assets/services/yuan-ai.png";
import mcbapi from "../assets/works/mc-bapi.png";
import mcpysync from "../assets/works/mc-pysync.png";
import echo from "../assets/works/yuan-echo.png";
import fimg from "../assets/works/yuan-fimg.png";
---

<Layout>
  <div class="container mx-auto px-4 xl:px-30 py-4 overflow-x-hidden">
    <article>
      <header
        class="prose my-6 md:flex w-full items-center justify-between gap-4 max-w-full mx-0"
      >
        <h2 class="md:flex mb-0">主要服務與作品</h2>
        <a class="md:flex ml-auto" href="https://status.yuaner.tw"
          >前往完整的狀態頁</a
        >
      </header>
      <div class="bg-base-content/10 mx-1 h-px mb-8"></div>

      <div class="content">
        <div class="grid grid-cols-1 md:grid-cols-6 gap-x-4 gap-y-8 mb-12">

          <!-- AI LiteLLM GPT -->
          <MainCard
            mainImgSrc={yuanai}
            mainImgAlt="AI"
            buttons={[
              {
                text: "Open WebUI",
                class: "btn-primary",
                href: "https://ai.yuaner.tw",
              },
              { text: "Telegram Bot", href: "https://t.me/yuaner_llm_bot" },
              {
                text: "Firefox Sidebar",
                href: "https://github.com/chyuaner/firefox-yuan-ai-sidebar/releases/",
              },
            ]}
          >
            <div class="flex flex-wrap justify-between gap-x-6">
              <h2 class="card-title">AI LiteLLM GPT</h2>
              <span class="content-end">
                <div class="table">
                  <div class="table-row md:inline">
                    LLM: <span class="table-cell pl-2" data-uptimeflare-id="yuan_aillm"></span>
                  </div><div class="table-row md:inline md:pl-4">
                    WebUI: <span class="table-cell pl-2" data-uptimeflare-id="yuan_ai"></span>
                  </div>
                </div>
              </span>
            </div>
            <div class="flex w-full flex-col lg:flex-row">
              <div class="card grow prose text-sm">
                <p>以 LiteLLM 架設的私人用AI LLM</p>

                <h4 class="mt-0 mb-0">
                  API Base: <small>(OpenAI Compatible)</small>
                </h4>
                <Code
                  code={`https://ai.yuaner.tw/v1`}
                  class="h-[3.8em] p-3 rounded-lg shadow-sm"
                />

                <div class="divider mt-0 mb-0"></div>

                <h4 class="mt-0 mb-0">可用與首推的模型依序為：</h4>
                <ol>
                  <li>OpenAI GPT OSS 120B</li>
                  <li>Llama 3.3 70B</li>
                  <li>Qwen 3 235B Instruct <small>(Demo僅供: Qwen 3 32B)</small></li>
                  <li>Groq Compound <small>(Demo不提供)</small></li>
                  <li>Z.ai GLM 4.6 <small>(Demo不提供)</small></li>
                </ol>
              </div>
              <div class="divider lg:divider-horizontal"></div>
              <div class="card grid grow prose text-sm">
                <h4>Demo 專用帳號</h4>
                <ul class="">
                  <li><strong>API Key:</strong> sk-lAiSr-BHX-Oyf-cJE6p7Nw</li>
                  <li><strong>API Base:</strong> https://ai.yuaner.tw/v1</li>
                  <li>
                    <strong>Open WebUI登入資訊</strong>
                    <ul>
                      <li>
                        <strong>Email:</strong>
                        <!--email_off-->demo@yuaner.tw<!--/email_off-->
                      </li>
                      <li><strong>Password:</strong> demo</li>
                    </ul>
                  </li>
                  <li>
                    <strong>Telegram Bot (Demo Ver.):</strong>
                    <a href="https://t.me/yuaner_llm_demo_bot" < a
                      >@yuaner_llm_demo_bot</a>
                  </li>
                </ul>
                <p class="mt-0 mb-0">
                  <span class=""><i class="fa-solid fa-circle-info"></i> 若看不到可用模型，代表Demo可用額度已用完，請明天再來</span>
                </p>
                <p class="mt-0 mb-0">
                  <span class=""><i class="fa-solid fa-circle-info"></i> Demo帳號每日額度我調很低，僅供測試、展示用</span>
                </p>
              </div>
            </div>
          </MainCard>

          <!-- 幽影櫻minecraft server -->
          <MainCard
            mainImgSrc="https://barian0517.github.io/mcserverweb/Minecraft%20Screenshot%202025.06.26%20-%2001.23.07.95.png"
            mainImgAlt="Minecraft"
            buttons={[
              {
                text: "官網",
                class: "btn-primary",
                href: "https://mcweb.barian.moe/",
              },
              {
                text: "客戶端更新器",
                href: "http://modapi.barian.moe/clientupdate",
              },
            ]}
          >
            <div class="flex flex-wrap justify-between gap-x-6">
              <h2 class="card-title">幽影櫻minecraft server</h2>
              <div class="content-end">
                <div class="table">
                  <div class="table-row md:inline">
                    遊戲服: <span class="table-cell pl-2" data-uptimeflare-id="barian_mcs2"></span>
                  </div><div class="table-row md:inline md:pl-4">
                    官網: <span class="table-cell pl-2" data-uptimeflare-id="barian_mcweb"></span>
                  </div>
                </div>
              </div>
            </div>
            <p>融合 魔法、拔刀劍 與槍械 的極致體驗。</p>
            <Code
              code={`mc.yuaner.tw`}
              class="p-4 rounded-lg text-sm shadow-sm"
            />
            <p><i class="fa-solid fa-circle-info"></i> 備用網址: closingsongserver.barian.moe:23565</p>

            <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4" >
              <legend class="fieldset-legend">子專案</legend>
              <div class="flex w-full flex-col lg:flex-row">

                <div class="grid grid-cols-2 md:grid-cols-6 gap-4 bg-base-100 rounded-[10px] shadow-sm">
                  <figure class="col-span-6 md:col-span-2">
                    <Image
                      src={mcbapi}
                      class="w-full h-full object-cover"
                      alt="Minecraft API Doc"
                    />
                  </figure>
                  <div class="col-span-6 md:col-span-4 flex-1 flex flex-col justify-center">
                    <div class="card-body">
                      <div class="flex flex-wrap gap-x-6">
                        <h5 class="card-title">資訊橋接後端API伺服器</h5>
                        <span class="content-end"
                          ><span data-uptimeflare-id="barian_mcapi"></span></span
                        >
                      </div>
                      <p>輔助Minecraft伺服器的PHP後端。主要有模組列表、zip打包下載功能提供給我們自己的客戶端模組同步程式、我們的官網使用。額外提供伺服器上線人數查詢。</p>
                      <p>
                        ➤ <a
                          class="link link-primary"
                          href="https://mc-api.yuaner.tw/">更多介紹</a>
                      </p>
                    </div>
                  </div>
                </div>

                <!-- <div class="divider lg:divider-horizontal"></div>
                <MainCard isSub mainImgSrc={mcpysync}>
                  <h5 class="card-title">客戶端模組同步程式</h5>
                  <p>我們經營的伺服器為NeoForge模組伺服器，使用者必須安裝對應的模組才能連進我們的伺服器遊玩。考量我們伺服器對於模組需求的更動頻繁，故特別寫了這支小程式來減輕使用者每次都要手動下載檔案的麻煩。</p>
                </MainCard> -->
              </div>
            </fieldset>
          </MainCard>

          <!-- Fimg 佔位圖URL產生器 -->
          <MainCard
            mainImgSrc={fimg}
            mainImgAlt="Fimg 佔位圖URL產生器"
            buttons={[
              {
                "text": "Demo",
                "class": "btn-primary",
                "href": "https://fimg.yuaner.tw"
              },
              {
                "text": "Github",
                "class": "",
                "href": "https://github.com/chyuaner/node-fimg-generator"
              }
            ]}
          >
            <div class="flex flex-wrap justify-between gap-x-6">
              <h2 class="card-title">Fimg 預留圖產生站</h2>
              <span class="content-end"
                ><span data-uptimeflare-id="yuan_fimg"></span></span
              >
            </div>
            <p>本站提供URL直連網址，可讓你在設計網站時，在已知尺寸的情況下，可快速插入預留圖可以幫助您排版。同時也新增邊緣背景設計的功能，方便用於製作螢幕截圖示意圖、簡報圖美化用途。</p>
            <p>可前往 ➤ <a href="https://fimg.yuaner.tw" class="link link-primary" target="_blank">https://fimg.yuaner.tw</a></p>

            <h3 class="mt-[1em]">或是使用以下的範例：</h3>
            <Code
              code={`<h3>一般預留圖</h3>
<img src="https://fimg.yuaner.tw/300x200.png">

<h3>自訂文案、背景色、文字顏色的預留圖</h3>
<img src="https://fimg.yuaner.tw/400x200/ff0000/FFF/?text=🖼️預留圖😉&filetype=png">

<h3>帶有邊緣背景的：陰影、圓角與背景圖案 的預留圖</h3>
<img src="https://fimg.yuaner.tw/bg/5/10/4/tpl(drool-l)/ph/300x200">`}
              lang="html"
              class="h-[13.8em] p-3 rounded-lg shadow-sm"
            />
          </MainCard>

          <!-- HTTP Echo Server -->
          <MainCard
            mainImgSrc={echo}
            mainImgAlt="Echo Server"
            buttons={[
              {
                text: "Demo",
                class: "btn-primary",
                href: "https://echo.yuaner.tw/assets/text/dict/textpar.html?ref=tablericons&utm_source=tablericons-mainsite&utm_medium=partner&utm_campaign=250k-more-icons&tab=all",
              },
              {
                text: "Github",
                class: "",
                href: "https://github.com/chyuaner/cloudflare-echo-server",
              },
              {
                text: "簡介與開發心得",
                class: "",
                href: "https://yuaner.tw/slide-cloudflare-echo-server/",
              },
            ]}
          >
            <div class="flex flex-wrap justify-between gap-x-6">
              <h2 class="card-title">HTTP Echo Server</h2>
              <span class="content-end"
                ><span data-uptimeflare-id="yuan_echo"></span></span
              >
            </div>
            <p>
              本專案是提供CDN
              Edge層級的http回音鸚鵡伺服器（也提供本機端獨立運作的方式）
            </p><p>
              就如字面上所說的，你對我發出的Request後，我的伺服器就會把我從你這邊接到的資訊：以什麼網址字串、帶了什麼Post
              Body、Request Header，一五一實的以ResponseBody方式回應給你。
            </p><p>
              同時也可以當作MyIP查詢使用，會顯示在「Host」區塊。 ➤ <a
                class="link link-primary"
                href="https://echo.yuaner.tw/assets/text/dict/textpar.html?ref=tablericons&utm_source=tablericons-mainsite&utm_medium=partner&utm_campaign=250k-more-icons&tab=all"
                >Demo</a>
            </p>

            <!-- <h3 class="mt-[1em] font-bold">部署方式</h3> -->
            <div class="mt-[1em] flex w-full flex-col lg:flex-row">
              <div class="card grid grow">
                <h4 class="mb-2">Cloudflare Workers</h4>
                <a
                  href="https://deploy.workers.cloudflare.com/?url=https://github.com/chyuaner/cloudflare-echo-server"
                  ><img
                    src="https://deploy.workers.cloudflare.com/button"
                    alt="Deploy to Cloudflare"
                  /></a
                >
              </div>
              <div class="divider lg:divider-horizontal"></div>
              <div class="card grid grow">
                <h4 class="mb-2">Docker</h4>
                <Code
                  code={`docker run -p 3000:3000 --pull=always chyuaner/echo-server`}
                  lang="bash"
                  class="h-[3.8em] p-3 rounded-lg shadow-sm"
                />
              </div>
            </div>
          </MainCard>

          <!-- Yuan dotfile 自用環境設定檔 -->
          <MainCard
            mainImgSrc="https://raw.githubusercontent.com/chyuaner/dotfiles/refs/heads/master/.readme/Screenshot_20250602_011037.png"
            mainImgAlt="Dotfiles"
            buttons={[
              {
                text: "Github",
                class: "btn-primary",
                href: "https://github.com/chyuaner/dotfiles",
              },
            ]}
          >
            <h2 class="card-title">Yuan dotfile 自用環境設定檔</h2>
            <p>
              2025重新以 Manjaro Linux / macOS
              為主要的工作環境，重新整理出自己習慣又兼顧美觀的設定檔。
            </p>
            <p>
              主要是chezmoi用來統整這些dotfiles檔案，常用作業系統是Manjaro (Arch
              Linux) 和
              macOS，有針對這兩個作業系統調整過了，也寫好Script盡量可以一兩行指令直接懶人安裝到好。
            </p>

            <h3 class="mt-[1em]">安裝主dotfiles包</h3>
            <Code
              code={`sh -c "$(curl -fsLS get.chezmoi.io)" -- init --apply chyuaner`}
              lang="bash"
              class="h-[3.8em] p-3 rounded-lg shadow-sm"
            />
          </MainCard>

        </div>
      </div>
    </article>
  </div>
</Layout>
