---
import CardImage from "./CardImage.astro";

const { name, is_hide, status_html, is_new, tags, img, description, links } = Astro.props;
if (is_hide) {
  return null;
}
---

<div class="card card-compact bg-base-100 shadow-sm dark:shadow-neutral-600">
  <figure>
    <CardImage src={img} alt={name} />
  </figure>
  <div class="card-body">
    <header class="flex flex-col sm:flex-row">
      <div class="flex-auto">
        <h2 class="card-title">
          {name}
          {is_new && <div class="badge badge-secondary">NEW</div>}
        </h2>
      </div>
      <div class="flex-none justify-end card-title flex gap-2 flex-wrap">
        {tags?.length > 0 && tags.map(tag => (
          <div class="badge badge-outline">{tag}</div>
        ))}
      </div>
    </header>
    <p set:html={description}></p>

    <div class="flex flex-row">
      <div class="flex-none content-end">
        <div class="pl-2 pb-2" set:html={status_html}></div>
      </div>
      <div class="flex-auto">
         <div class="card-actions justify-end flex-wrap gap-2">
           {links?.length > 0 && links.map(link => (
             <a href={link.href} target="_blank" class={`btn ${link.class}`}>{link.text}</a>
           ))}
         </div>
      </div>
    </div>



    <!-- <div set:html={status_html}></div> -->
  </div>
</div>
